<div class="container">
    <div class="page-header">
        <h1>@ViewBag.title</h1>
    </div>

    
    <div>
        <h2>Create New Daily Report</h2>
        <input type="text" id="txtDate" class="dateInput" />
    </div>

    @Html.ActionLink("Create New","Create")
        @*<button id="btnCreateDailyRpt" class="btn btn-primary btn-large" type="submit">Create</button>*@
    <div>
        <table id="table-style" class="table table-hover table-condensed" data-height="400" data-row-style="rowStyle">
            <thead>
                <tr>
                    <th class="col-md-2">
                        <i class="glyphicon glyphicon-star"></i>
                        Date
                    </th>
                    <th class="col-md-2">
                       Income Amout
                    </th>
                    <th class="col-md-2">
                       Commission Company Amt
                    </th>
                    <th class="col-md-2">
                       Company Total
                    </th>
                    <th class="col-md-2">
                      Shamaah Comm Amt
                    </th>
                    <th class="col-md-2">
                       Check Cashing Comm
                    </th>
                    <th class="col-md-2">
                       Services Comm
                    </th>
                    <th class="col-md-2">
                      Payouts
                    </th>
                    <th class="col-md-2">
                        Expenes
                    </th>
                    <th class="col-md-2">
                        Grand Total
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="col-md-2">
                        <a>12/01/2014</a>
                    </th>
                    <th class="col-md-2">
                        $400000
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $51000
                    </th>
                    <th class="col-md-2">
                        $500
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $300
                    </th>
                    <th class="col-md-2">
                        $5000
                    </th>
                    <th class="col-md-2">
                        $400
                    </th>
                    <th class="col-md-2">
                        $40000
                    </th>
                </tr>
                <tr>
                    <th class="col-md-2">
                        <a>12/02/2014</a>
                    </th>
                    <th class="col-md-2">
                        $400000
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $51000
                    </th>
                    <th class="col-md-2">
                        $500
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $300
                    </th>
                    <th class="col-md-2">
                        $5000
                    </th>
                    <th class="col-md-2">
                        $400
                    </th>
                    <th class="col-md-2">
                        $40000
                    </th>
                </tr>
                <tr>
                    <th class="col-md-2">
                        <a>12/03/2014</a>
                    </th>
                    <th class="col-md-2">
                        $400000
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $51000
                    </th>
                    <th class="col-md-2">
                        $500
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $300
                    </th>
                    <th class="col-md-2">
                        $5000
                    </th>
                    <th class="col-md-2">
                        $400
                    </th>
                    <th class="col-md-2">
                        $40000
                    </th>
                </tr>
                <tr>
                    <th class="col-md-2">
                        <a>12/04/2014</a>
                    </th>
                    <th class="col-md-2">
                        $400000
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $51000
                    </th>
                    <th class="col-md-2">
                        $500
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $300
                    </th>
                    <th class="col-md-2">
                        $5000
                    </th>
                    <th class="col-md-2">
                        $400
                    </th>
                    <th class="col-md-2">
                        $40000
                    </th>
                </tr>
                <tr>
                    <th class="col-md-2">
                        <a>12/05/2014</a>
                    </th>
                    <th class="col-md-2">
                        $400000
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $51000
                    </th>
                    <th class="col-md-2">
                        $500
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $300
                    </th>
                    <th class="col-md-2">
                        $5000
                    </th>
                    <th class="col-md-2">
                        $400
                    </th>
                    <th class="col-md-2">
                        $40000
                    </th>
                </tr>
                <tr>
                    <th class="col-md-2">
                        <a>12/06/2014</a>
                    </th>
                    <th class="col-md-2">
                        $400000
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $51000
                    </th>
                    <th class="col-md-2">
                        $500
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $300
                    </th>
                    <th class="col-md-2">
                        $5000
                    </th>
                    <th class="col-md-2">
                        $400
                    </th>
                    <th class="col-md-2">
                        $40000
                    </th>
                </tr>
                <tr>
                    <th class="col-md-2">
                        <a>12/07/2014</a>
                    </th>
                    <th class="col-md-2">
                        $400000
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $51000
                    </th>
                    <th class="col-md-2">
                        $500
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $300
                    </th>
                    <th class="col-md-2">
                        $5000
                    </th>
                    <th class="col-md-2">
                        $400
                    </th>
                    <th class="col-md-2">
                        $40000
                    </th>
                </tr>
                <tr>
                    <th class="col-md-2">
                        <a>12/08/2014</a>
                    </th>
                    <th class="col-md-2">
                        $400000
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $51000
                    </th>
                    <th class="col-md-2">
                        $500
                    </th>
                    <th class="col-md-2">
                        $1000
                    </th>
                    <th class="col-md-2">
                        $300
                    </th>
                    <th class="col-md-2">
                        $5000
                    </th>
                    <th class="col-md-2">
                        $400
                    </th>
                    <th class="col-md-2">
                        $40000
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    function rowStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];

        if (index % 2 === 0 && index / 2 < classes.length) {
            return {
                classes: classes[index / 2]
            };
        }
        return {};
    }
</script>